// 主要按鈕
.main-btn{
  display: block;
  background-color: $main;
  border-radius: $border-l;
  color: $white;
  &.small{
    padding: 0.5rem 1rem;
  }
  &.medium{
    padding: 0.5rem 2rem;
  }
  &.large{
    padding: 0.5rem 3rem;
  }
}

// 簍空按鈕
.main-outline-btn{

}