// 主要按鈕
.btn-primary{
  background-color: $main;
  border-radius: $border-l;
  color: $white;
  &:hover{
    color: $white;
  }
  &:active{
    color: $white !important;
  }
}

// 簍空按鈕
.btn-outline-primary{
  border-radius: $border-l;
  &:hover{
    color: $white;
  }
  &:active{
    color: $white !important;
  }
}

// modal大小
.modal-lg{
  --bs-modal-width: 600px !important;
}
